*{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
}

                                    /*inico de index*/

/* diseño responsive celular */

@media (max-width:699px){

    .grid{
        display: grid;
        grid-template-areas: 
        "header"
        "section"
        "aside"
        "footer";
        grid-template-rows: 195px 1fr 310px 320px;
        grid-row-gap: 10px;
    }

    header{
        display: flex;
        justify-content: space-around;
        grid-area: header;
        box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
    }

    .bloque{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .bloque__titulo{
        font-size: 18px;
    }

    .bloque__imagen{
        display: none;
    }

    nav{
        padding: 0px 8px 0px 20px;
        margin-top: 20px;
        line-height: 32px;
    }

    .menu{
        font-size: 17px;
    }

    .menu__listas{
        list-style-type: none;
    }

    .menu__links{
        text-decoration: none;
    }

    section{
    grid-area: section;
    }
    
    .modeloFlex{
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        background-color: rgb(248, 244, 244);
        margin: 20px 15px 10px 15px;
    }
    .seccion__titulo{
        font-size: 22px;
        color: gray;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 15px;
        padding-right: 15px;
        box-shadow: 0px 36px 22px -30px rgba(39, 38, 38, 0.64);
        -webkit-box-shadow: 0px 36px 22px -30px rgba(38,38,38,0.64);
        -moz-box-shadow: 0px 36px 22px -30px rgba(38,38,38,0.64);
    }

    .contenedor{
        margin: 0px 20px 0px 20px;
    }

    .productos{
        padding: 35px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .productos__imagen{
        width: 100%;
    }
    
    .productos__parrafo{
        font-size: 23px;
        text-align: center;
        font-weight: bold;
        color: gray;
    }

    aside{
        grid-area: aside;
    }

    .publicidad__parrafo{
        text-align: center;
        text-decoration: overline;
        font-weight: bold;
        font-size: 18px;
        margin-top: 8px;
    }

    .contenidoVideo{
        display: flex;
        justify-content: center;
    }

    .publicidad__video{
        width: 353px;
        height: 235px;
        margin: 17px 20px 10px 20px;
        border-radius: 30px;
    }

    footer{
        grid-area: footer;
        box-shadow: 0px -6px 15px 2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px -6px 15px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -6px 15px 2px rgba(0,0,0,0.75);
    }

    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0px 20px 15px;
    }

    .logo__titulo{
        margin-right: 20px;
    }

    .logo__texto{
        line-height: 20px;
        text-align: center;
        font-size: 13px;
        margin: 0px 10px 0px 10px;
        color: gray;
    }

    .contacto{
        display: flex;
        text-align: center;
        align-items: center;
        border-top: 3px solid gray;
    }

    .contacto__redes{
        font-size: 19px;
        font-weight: bold;
        text-decoration: overline;
    }

    .contenedorRedes{
        margin-top: 24px;
    }

    .contacto__links img{
        height: 60px;
    }
}

/* diseño responsive tablet */

@media (min-width:700px){
    .grid{
        display: grid;
        grid-template-areas: 
        "header header"
        "section  section"
        "aside aside "
        "footer footer";
        grid-template-rows: 120px 1fr 420px 210px;
        grid-row-gap: 10px;
    }

    header{
        grid-area: header;
        box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75); 
    }

    .bloque{
        display: flex;
        margin-top: 15px;
    }

    .bloque__titulo{
        margin-left: 50px;
        font-size: 22px;
    }

    .bloque__imagen{
        margin-left: 15px;
        height: 22px;
    }

    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30px;
        list-style-type: none;
        font-size: 17px;
    }

    .menu__links{
        text-decoration: none;
    }

    section{
        grid-area: section;
    }

    .modeloFlex{
        background-color: rgb(248, 244, 244);
        margin: 15px 20px 11px 20px;
    }

    .seccion__titulo{
        text-align: center;
        padding-top: 35px;
        padding-bottom: 15px;
        padding-right: 15px;
        box-shadow: 0px 36px 22px -30px rgba(39, 38, 38, 0.64);
        -webkit-box-shadow: 0px 36px 22px -30px rgba(38,38,38,0.64);
        -moz-box-shadow: 0px 36px 22px -30px rgba(38,38,38,0.64);
        text-decoration: overline;
        margin: 0px 0px 10px 0px;
        font-size: 24px;
    }

    .seccion__titulo br{
        display: none;
    }

    .contenedor{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 25px;
    }

    .productos{
    background-color: white;
    margin: 0px 10px 40px 20px;
    border-radius: 15px;
    }

    .productos__parrafo{
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    }

    aside{
        grid-area: aside;
    }
    
    .publicidad__parrafo{
        text-align: center;
        text-decoration: overline;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .contenidoVideo{
        display: flex;
        justify-content: center;
    }
    
    .publicidad__video{
        height: 250px;
        width: 550px;
        margin-top: 10px;
        border-radius: 15px;
    } 

    footer{
    grid-area: footer;
    box-shadow: 0px -6px 15px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -6px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -6px 15px 2px rgba(0,0,0,0.75);
    }

    .logo{
    display: flex;
    margin: 13px 16px 0px 16px;
    justify-content: space-between;
    align-items: center;
    } 

    .logo__texto{
    text-align: center;
    font-size: 14px;
    }

    .contacto{
    text-align: center;
    font-size: 17px;
    margin-top: 25px;
    } 

    .contacto__redes{
    margin-bottom: 20px;
    } 

    .contacto__links{
    text-decoration: none;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
    } 

    .contacto__links img{
    width: 60px;
    height: 60px;
    } 
}

/* regla */
@media (min-width:800px){
    .logo{
        display: flex;
        justify-content: space-around;
    }
    
}



/* diseño responsive escritorio */

@media (min-width:1024px) {
    .grid{
    display: grid;
    grid-template-areas: 
    "header header header"
    "section  section section"
    "aside aside aside"
    "footer footer footer";
    grid-template-rows: 130px 1fr 600px 210px;
    grid-row-gap: 10px;
}

    .bloque{
    margin-top: 30px;
    }

    .contenedor{
        flex-wrap: nowrap;
    }

    .productos{
    padding: 35px;
    text-align: center;
    }

    .productos__imagen{
    max-width: 271px;
    max-height: 271px;
    } 

    .publicidad__parrafo{
        font-size: 25px;
    }
    
    .publicidad__video{
        width: 800px;
        height: 400px;
        border-radius: 15px;
        
    } 

    .logo{
        margin-left: 150px;
        margin-right: 150px;
    } 

    .logo__titulo{
        padding-top: 20px;
    } 

    .logo__texto{
        text-align: center;
        font-size: 13px;
    }
    
    .contacto{
        font-size: 20px;
        margin-top: 25px;
    } 
}

                                                /* end index */

                                                /* inicio quienes somos */

/* diseño responsive celular */

@media (max-width:699px){
    .grilla{
        display: grid;
        grid-template-areas: 
        "header"
        "section"
        "aside"
        "footer";
        grid-template-rows: 210px 1fr 1fr 230px;
        grid-template-columns: auto;
        grid-row-gap: 10px;
    }

    .bloque{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
    }

    .bloque__titulo{
        font-size: 18px;
    }

    .bloque__imagen{
        display: none;
    }

    nav{
        padding: 0px 8px 0px 20px;
        margin-top: 20px;
        line-height: 30px;
    }

    .menu{
        font-size: 15px;
    }

    .menu__listas{
        list-style-type: none;
    }

    .menu__links{
        text-decoration: none;
    }

    #position{
        position: relative;
        text-align: center;
        width: 100%;
        height: 280px;
        margin: 16px 0px 30px 0px;
    }
    
    #position img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .text__title{
        position: absolute;
        top: 105px;
        color: white;
        margin-left: 10px;
        font-size: 22px;
    }
    .text__subtitulo{
        text-decoration: overline;
        text-align: center;
    }
    
    .text__contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 65px;
        width: 100%;
    }
    
    .text__imagen{
        width: 90%;
        padding: 0px 15px 0px 15px;
        border-radius: 5px;
    }
    
    .text__parrafo{
        padding: 0px 10px 0px 10px;
        margin-top: 25px;
        text-align: center;
        line-height: 19px;
        color: gray;
    }

    .estilosFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .objetivos__titulo{
        text-align: center;
        font-size: 25px;
    }
    
    .objetivos__contenedorPrincipal{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .objetivo__bloque{
        width: 80%;
    }
    
    .objetivo__subtitulo{
        text-align: center;
        margin-bottom: 20px;
        font-size: 25px;
    }
    
    .objetivo__parrafo{
        padding: 15px;
        text-align: center;
        color: gray;
        border-top: solid 5px red ;
    }
    
    .contacto{
        padding-top: 15px;
        justify-content: space-around;
    }
}

/* diseño responsive tablet */

@media (min-width:700px){
    .grilla{
        display: grid;
        grid-template-areas: 
        "header header header"
        "section section section"
        "aside aside aside"
        "footer footer footer";
        grid-template-rows: 125px 670px auto 230px;
        grid-template-columns: auto auto auto;
        grid-row-gap: 10px;
    }

    #position{
        position: relative;
        height: 260px;
        margin: 16px 0px 30px 0px;
    }
    
    #position img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .text__title{
        position: absolute;
        top: 80px;
        color: white;
        font-size: 2rem;
        padding: 20px;
    }
    .text__subtitulo{
        text-align: center;
        font-size: 32px;
        text-decoration: overline;
    }
    
    .text__contenedor{
        display: flex;
        margin-top: 50px;
    }
    
    .text__imagen{
        width: 50%;
        height: 175px;
        margin: 0px 25px 0px 14px;
        border-radius: 25px;
    }
    
    .text__parrafo{
        text-align: center;
        margin-right: 16px;
    }
    
    .objetivos__titulo{
        text-align: center;
        text-decoration: overline;
        font-size: 25px;
    }
    
    .objetivos__contenedorPrincipal{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .objetivo__bloque{
        width: 500px;
        margin-bottom: 30px;
    }
    
    .objetivo__subtitulo{
        font-size: 29px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .objetivo__parrafo{
        padding: 15px;
        font-size: 18px;
        text-align: center;
        border-top: solid 5px red ;
    }
}

/* diseño responsive escritorio */

@media (min-width:1024px){
    
    .grilla {
        grid-template-rows: 125px 670px auto 230px;
        grid-template-columns: auto auto auto;
    }

    section{
        background-image: linear-gradient(45deg, black, transparent);
    }

    .text__title{
        left: 85px;
    }

    .text__subtitulo{
        margin-top: 50px;
    }
    
    .text__contenedor{
        justify-content: center;
        height: 235px;
    }
    
    .text__imagen{
        width: 370px;
    }
    
    .text__parrafo{
        width: 435px;
        margin-left: 40px;
        font-size: 16px;
        padding-top: 12px;
    }
    
    .estilosFlex{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .objetivos__contenedorPrincipal{
        flex-direction: row;
        height: 330px;
        align-items: flex-start;
    }
    
    .objetivo__bloque{
        width: 50%;
        margin: 0px 15px 0px 15px;
    }

    .logo{
        margin-top: 20px;
    }

    .logo__titulo{
        padding-top: 0px;
    }
}

@media (min-width:1440px){

    .grilla{
        grid-template-rows: 125px 900px 700px 230px;
    }

    .menu{
        font-size: 20px;
    }

    .text__subtitulo{
        font-size: 38px;
    }

    .text__contenedor{
        height: 430px;
        align-items: center;
    }

    .text__imagen{
        width: 500px;
        height: 215px;
    }

    .text__parrafo{
        font-size: 22px;
    }

    .objetivos__contenedorPrincipal{
        height: 500px;
    }

    .objetivos__titulo{
        font-size: 30px;
        margin-bottom: 85px;
    }

    .objetivo__bloque{
        width: 35%;
        margin: 0px 85px 0px 55px;
    }

    .objetivo__parrafo{
        font-size: 20px;
    }
}

                                                            /* end de pagina quienes-somos */
